<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<h1>Add user</h1>

<script>
    axios({
        method:'post',
        url:'/api/adduser',
        data:JSON.stringify({
            firstname:'Francis',
            lastname:'Jones'
        }),
        headers:{ 'content-type': 'application/json'}
    })
</script>